
* {
    text-align: center;
    font-family: 'Dancing Script', cursive;
  }
.color {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#pixel-board {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

}

.pixel {
  display: inline-block;
  border-width: 1px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 0%;
  border-style: solid;
}

button {
  margin-bottom: 20px;
}
